*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html, body{
height: 100%;
width:100%;
}

body{
  background-color: #282828;
}
main{
  height: 100%;
  width: 100%;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

button{
  height: 300px;
  width: 100px;
}

button:active{
  scale: 0.9;
  transition: all 0.3s;
}
