*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}
/* 
.box{
  height: 400px;
  width: 400px;
  background-color: red;
}
button{
  padding: 10px 20px;
  
} */

main{
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.box{
height: 400px;
width: 400px;
  border: 20px;
  border-radius: 6px;
  font-size: 10px;
  background-color: white;
  background-image: url();
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
h1{
padding: 18px 30px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
h2{
  font-size: 25px;
  text-align: center;
}
h3{
  font-size: 20px;
  text-align: center;
}
h4{
  font-size: 20px;
  text-align: center;
}
button{
  padding: 10px 20px;
  font-size: 30px;
  background-color: violet;
  border: none;
  border-radius: 10px;
}