*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
height: 100%;
width:100%;
}

main{
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #8a00ff, #00c3ff);
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.card{
  height: 400px;
  width: 300px;
  background-color: rgba(234, 236, 236, 0.507);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 25px;
}
.card:hover{
transform: translateY(-10px);
transition: all 0.5s;
}
.img-card{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  border-radius: 10px;
}

.top{
  display: flex;
justify-content: space-between;
padding: 15px 20px;
}
.card .top-right{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.top-right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.top-left h4{
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(20px) brightness(80%);
}

.bottom{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.bottom h1{
  font-size: 20px;
  white-space: nowrap;
  color: black;
  font-weight: bolder;
  margin-top: 5px;
}
.bottom h5{
  font-size: 15px;
  color: rgb(42, 51, 50);
}
.bottom p{
  font-size: 15px;
  color: rgb(42, 51, 50);
  font-weight: bold;
}

.btm{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.bottom-left h4{
  background-color: rgba(100, 6, 252, 0.89);
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}
.bottom-right button{
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: black;
}



