*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width:100%;
}
body{
  overflow: hidden;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}
button{
  padding: 15px 25px;
  background-color: rgb(243, 26, 26);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: relative;
  z-index: 999;
}

button:active{
  scale: 0.9;
}

h1{
  text-align: center;
  font-size: 20px;
}